<meta charset="UTF-8">
<title>Song Ideas</title>

<!--        MY CUSTOM CSS FOR BACKGROUND, DYNAMIC TAB WINDOWS AND FORM FIELD VALIDATION-->
<link rel = "stylesheet" href="css/style.css">

<!--   TAILWIND CSS LIBRARY-->
<link rel = "stylesheet" href="css/styles.css">

<!-- MUSIC PLAYER CSS-->
<link rel = "stylesheet" href="css/musicPlayer.css">

<!--   MUSIC PLAYER BUTTON ICONS-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"/>

<!--   MUSIC PLAYER FONT-->
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap" rel="stylesheet"/>

<!--   JQUERY CDN-->
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
        crossorigin="anonymous"></script>

<!--MAIN JAVASCRIPT FILE-->
<script src="js/app.js"></script>

<!--  run this javascript after the page has loaded- ASYNC -->
<!--  MUSIC PLAYER JAVASCRIPT-->
<script src="js/musicPlayer.js" async></script>
<!--FORM VALIDATION JAVASCRIPT-->
<script src="js/formValidation.js" async></script>
